asgiref==3.8.1
astroid==3.3.5
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==43.0.3
defusedxml==0.8.0rc2
dill==0.3.9
distlib==0.3.9
Django==5.1.1
django-allauth==65.1.0
django-appconf==1.0.6
django-bootstrap4==24.4
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-filter==24.3
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
django-select2==8.2.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.16.1
git-filter-repo==2.45.0
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.10
isort==5.13.2
jwcrypto==1.5.6
mccabe==0.7.0
oauthlib==3.2.2
pillow==11.0.0
platformdirs==4.3.6
proto-plus==1.25.0
protobuf==5.28.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pylint==3.3.1
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyparsing==3.2.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.6
sqlparse==0.5.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
virtualenv==20.27.1
